.button {
  padding: 13px;

  font-family: inherit;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.76;
  text-transform: uppercase;
  color: @dark-blue;

  .link-reset;

  border: none;
  border-radius: 20px;

  background-color: @yellow;
  cursor: pointer;
}
