.copyright__link {
  .link-reset();
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 15px;
  margin-top: 35px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  font-size: 16px;
  line-height: 22px;
  color: @dark-grey;
}

.copyright__icon {
  fill: @light-blue;
}

@media (min-width: @tablet-width) {
  .copyright__link {
    justify-content: center;
    padding-top: 0;
    margin: 0;
    border-top: none;
  }

  .copyright__text {
    font-size: 20px;
    line-height: 24px;
  }

  .copyright__icon {
    margin-left: 25px;
  }
}
