.countries__list {
  .ul-reset();
  margin-top: 20px;
}

.countries__card {
  width: 270px;
  margin: 10px auto;
}

.countries__photo {
  width: 270px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.countries__description {
  position: relative;

  padding: 24px;
  margin: 0;
  margin-top: -15px;

  border-radius: 10px;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: @grey-30;

  background-color: @white;
}

.countries__name {
  padding: 0;
  margin: 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: @dark-blue;
}

.countries__comment {
  margin: 0;
}

.countries__visitors {
  position: absolute;
  top: 24px;
  right: 24px;
}

@media (min-width: @tablet-width) {
  .countries__card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

    width: 616px;
    margin-bottom: 10px;
  }

  .countries__photo {
    display: block;

    width: 186px;

    border-top-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .countries__description {
    margin-top: 0;
    flex-grow: 1;
    border-top-right-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 20px;

    font-size: 20px;
    line-height: 20px;
  }

  .countries__name {
    padding-top: 5px;
    font-size: 24px;
    line-height: 24px;
  }

  .countries__visitors {
    position: static;
    display: block;
    margin-top: 20px;
  }
}

@media (min-width: @desktop-width) {
  .countries {
    margin-right: 60px;
  }

  .countries__list {
    margin-top: 0;
  }

  .countries__card {
    width: 562px;
  }

  .countries__description {
    padding: 20px 30px;
  }
}
