.countries__list {
  .ul-reset();
}

.countries__description {
  padding: 24px;

  border-radius: 10px;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: @grey-30;

  background-color: @white;
}

.countries__name {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: @dark-blue;
}
