.filters__form {
  position: relative;
}

.filters__location {
  padding-top: 20px;
  margin-bottom: 25px;
  border-bottom-left-radius:@mobile-gap;
  border-bottom-right-radius: @mobile-gap;
}

.filters__preferences {
  width: 220px;
  padding: 25px;
  padding-bottom: 80px;
  margin: 0 auto;
  border-radius: 20px;

  color: @blue;
  background-color: @yellow-gold;
}

.filters__preferences-text {
  display: block;

  width: 200px;
  margin-bottom: 20px;

  font-size: 22.5px;
  font-weight: 700;
  line-height: 22.5px;

}

.filters__item {
  padding: 0;
  margin: 0;
  border: none;
}

.filters__item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
  box-sizing: border-box;
  padding-top: 13px;
  margin-bottom: 13px;
  border-top: 1px solid @dark-gold;
}

.filters__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;

  text-transform: uppercase;
}

.filters__open-btn {
  .btn-reset();
}

.filters__options-list {
  .ul-reset();
  // display: none;

  &--transport {
    display: flex;
  }
}

.filters__options-item {
  position: relative;
  margin-bottom: 10px;

  &--transport {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: @white;
  }
}

.filters__options-item input[type="checkbox"] {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filters__input-icon {
  display: none;
  position: absolute;
  top: 4px;
  left: 4px;
}

.filters__label {
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  color: @dark-grey;

  cursor: pointer;
}

.filters__label::before {
  content: "";

  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  vertical-align: bottom;
  border-radius: 4px;

  background-color: @white;
}

.filters__label:hover {
  opacity: 0.6;
}

.filters__label:active {
  opacity: 0.3;
}

.filters__options-item input[type="checkbox"]:checked + .filters__input-icon {
  display: block;
}

.filters__label-transport {
  display: block;
  padding-top: 8px;
  text-align: center;

  opacity: 0.15;

  cursor: pointer;
}

.filters__label-transport:hover {
  opacity: 0.6;
}

.filters__label-transport:active {
  opacity: 0.3;
}

.filters__options-item input[type="checkbox"]:checked + .filters__label-transport {
  opacity: 1;
}

.filters__btn {
  position: absolute;
  bottom: 22px;
  right: 50%;
  margin-right: -115px;

  width: 230px;
  padding: 6px;

  border-radius: 20px;
  border: none;

  font-family: inherit;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: @dark-blue;

  background-color: @white;

  &:hover {
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.08);
  }

  &:active {
    opacity: 0.3;
  }
}

@media(min-width: @tablet-width) {
  .filters__preferences {
    width: 618px;
    padding: 35px;
    padding-bottom: 125px;
  }

  .filters__preferences-text {
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 35px;
    margin-bottom: 25px;
    border-bottom: 1px solid @dark-gold;

    font-size: 30px;
    line-height: 30px;
  }

  .filters__item:last-child {
    padding-bottom: 35px;
    border-bottom: 1px solid @dark-gold;

  }

  .filters__item-wrapper {
    display: flex;
    align-items: center;
  }

  .filters__item-header {
    width: 120px;
    border-top: none;
  }

  .filters__title {
    font-size: 20px;
    line-height: 30px;
  }

  .filters__open-btn {
    display: none;
  }

  .filters__options-list {
    display: flex;
  }

  .filters__options-item {
    width: 166px;
    margin-bottom: 0;

    &--transport {
      width: 43px;
      height: 43px;
    }
  }

  .filters__input-icon {
    top: 6px;
    left: 6px;
    width: 12px;
    height: 12px;
  }

  .filters__label {
    font-size: 20px;
    line-height: 20px;

    &::before {
      width: 24px;
      height: 24px;
    }
  }

  .filters__label-transport {
    padding-top: 10px;
  }

  .filters__transport-icon {
    height: 21px;

    &--plane {
      width: 19px;
    }

    &--bus {
      width: 17px;
    }

    &--bike {
      width: 24px;
    }

    &--on-foot {
      width: 20px;
    }
  }

  .filters__btn {
    bottom: 35px;
    right: 50%;
    margin-right: -299px;

    width: 598px;
    padding: 10px;

    border-radius: 25px;

    font-size: 20px;
    line-height: 30px;
  }
}

@media(min-width: @desktop-width) {
  .filters__preferences {
    position: absolute;
    top: 190px;
    left: 50%;
    margin-left: 375px;
    width: 189px;
    padding: 48px;
    padding-bottom: 97px;
  }

  .filters__preferences-text {
    padding-bottom: 0;
    margin-bottom: 35px;
    border-bottom: none;
  }

  .filters__item:last-child {
    border-bottom: none;
  }

  .filters__item-wrapper {
    display: block;
  }

  .filters__item-header {
    width: 100%;
    box-sizing: border-box;
  }

  .filters__open-btn {
    display: block;
  }

  .filters__open-icon {
    width: 10px;
    height: 5px;
  }

  .filters__options-list {
    display: block;

    &--transport {
      display: flex;
    }
  }

  .filters__options-item {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 0;

    &--transport {
      width: 43px;
      height: 43px;
    }
  }

  .filters__input-icon {
    top: 14px;
  }

  .filters__label-transport {
    padding-top: 5px;
  }

  .filters__btn {
    bottom: -1085px;
    left: 50%;
    margin-left: 420px;

    width: 196px;
    z-index: 5;
  }
}
