.footer {
  .bg-border__mobile--footer();
  position: relative;
  padding-top: 30px;
  padding-bottom: 15px;

  background-color: @white;
}

.footer__container {
  width: @mobile-width;
  box-sizing: border-box;
  padding: @mobile-gap;
  margin: 0 auto;
}

.footer__logo-link {
  display: block;
  width: 96px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.footer__logo {
  display: block;
  width: 100%;
}

.footer__social {
  justify-content: center;

  margin: @mobile-gap;
}

@media (min-width: @tablet-width) {
  .footer {
    .bg-border__tablet--footer();
    padding-top: 60px;
  }

  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: @tablet-width;
    padding: 40px;
    margin: 0 auto;
  }

  .footer__logo-link {
    width: 164px;
    margin: 0;
  }

  .footer__social {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .footer__container {
    width: @desktop-width;
    padding: 40px 60px;
  }

  .footer__logo-link {
    width: 198px;
  }
}
