.header {
  color: @white;
  background-color: @dark-blue;
}

@media (min-width: @tablet-width) {
  .header--main-page {
    background-color: @bg-blue;
  }
}

@media (min-width: @desktop-width) {
  .header--main-page {
    background-color: @dark-blue;
  }
}
