.inner-page {
  background-color: @light-grey;
}

.inner-page__title {
  margin-top: 0;
  padding: @mobile-gap;
  border-bottom-left-radius:@mobile-gap;
  border-bottom-right-radius: @mobile-gap;

  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  color: @white;
  background-color: @dark-blue;
}

@media (min-width: @tablet-width) {
  .inner-page__title {
    padding: @tablet-gap;
    padding-left: 2 * @tablet-gap;

    font-size: 60px;
    line-height: 70px;
  }
}

@media (min-width: @desktop-width) {
  .inner-page__title {
    padding: @desktop-gap;
    padding-left: 2 * @desktop-gap;
  }
}
