.main-navigation {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 270px;
  padding: @mobile-gap;
  padding-bottom: 15px;
  margin: 0 auto;
}

.main-navigation__logo {
  display: block;
  width: 100px;
}

.main-navigation__toggle {
  display: block;

  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;

  cursor: pointer;

  &::before,
  &::after {
    content: "";

    display: block;
    width: 25px;
    height: 3px;
  }
}

.main-navigation--closed .main-navigation__toggle {
  &::before,
  &::after {
    background-color: @white;
  }

  &::before {
    margin-bottom: 5px;
  }
}

.main-navigation--opened .main-navigation__toggle {
  &::before,
  &::after {
    background-color: @grey-c;
  }

  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
    margin-top: -3px;
  }
}

.main-navigation__menu {
  display: block;

  position: absolute;
  top: 2 * @mobile-gap;
  right: 0;
  z-index: 5;

  width: 100%;
  box-sizing: border-box;
  padding: @mobile-gap;
  padding-top: 65px;

  background-color: @white;
}

.main-navigation--no-js .main-navigation__toggle {
  display: none;
}

.main-navigation__menu-list {
  .ul-reset();
  margin-bottom: 50px;
}

.main-navigation__menu-link {
  display: block;
  text-align: center;

  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
  color: @dark-blue;

  .link-reset();
}

.main-navigation__log-in-btn {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 40px;
}

.main-navigation__contacts {
  width: 270px;
  box-sizing: border-box;
  padding-top: 25px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.main-navigation__social {
  justify-content: center;
  margin-bottom: 5px;
}

.main-navigation__user-block {
  position: absolute;
  top: 455px;
  right: 50%;
  margin-right: -135px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
}

.main-navigation--no-js .main-navigation__user-block {
  top: 830px;
}

.main-navigation--inner-page .main-navigation__user-block {
  display: none;
}

.main-navigation__user-block-link {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid white;
}

.main-navigation__user-block-btn {
  width: 188px;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .main-navigation {
    width: 688px;
    padding: @tablet-gap;
  }

  .main-navigation__logo {
    width: 166px;
  }

  .main-navigation__toggle {
    margin: 0;
  }

  .main-navigation__menu {
    top: 2.5 * @tablet-gap;

    padding-left: 95px;
    padding-top: 80px;
  }

  .main-navigation__menu-list {
    margin-bottom: 130px;
  }

  .main-navigation__menu-link {
    text-align: left;

    font-size: 60px;
    line-height: 72px;
  }

  .main-navigation__log-in {
    display: none;
  }

  .main-navigation__contacts {
    margin: 0;
    margin-bottom: 140px;
  }

  .main-navigation__social {
    justify-content: flex-start;
    margin-left: 15px;
    margin-bottom: 55px;
  }

  .main-navigation--inner-page .main-navigation__user-block {
    display: block;
  }

  .main-navigation__user-block {
    position: static;

    width: auto;
    margin-right: 0; //был -135px
  }

  .main-navigation__user-block-btn {
    display: block;
    padding: 10px;
  }

  .main-navigation__user-block-link {
    display: none;
  }
}

@media (max-width: @upto-tablet) {
  .main-navigation--closed .main-navigation__logo {
    &--blue {
      display: none;
    }
    &-white {
      display: block;
    }
  }

  .main-navigation--opened .main-navigation__logo {
    &--white {
      display: none;
    }
    &--blue {
      display: block;
    }
  }

  .main-navigation--no-js .main-navigation__logo {
    &--white {
      display: none;
    }
    &--blue {
      display: block;
    }
  }

  .main-navigation--closed .main-navigation__menu {
    display: none;
  }

  .main-navigation--opened, .main-navigation--no-js {
    background-color: @white;
  }

  .main-navigation--no-js .main-navigation__menu {
    display: block;
    position: static;
    padding-top: 2 * @mobile-gap;

    order: 10;
  }
}

@media (min-width: @desktop-width) {
  .main-navigation {
    width: @desktop-width;
    padding-bottom: 10px;
    margin: 0 auto;
  }

  .main-navigation__logo {
    width: 200px;
    margin-left: @desktop-gap;
    margin-right: 10px;

    &--blue {
      display: none;
    }

    &--white {
      display: block;
    }
  }

  .main-navigation__toggle {
    display: none;
  }

  .main-navigation__menu {
    position: static;

    display: block;
    width: auto;
    padding: 0 @desktop-gap;
    flex-grow: 1;

    background-color: @dark-blue;
  }

  .main-navigation__menu-list {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }

  .main-navigation__menu-list::before {
    content: "";

    display: block;
    margin-right: 15px;

    width: 60px;
    height: 2px;

    background-color: @white;
  }

  .main-navigation__menu-link {
    margin-left: 35px;
    font-size: 20px;
    line-height: @desktop-gap;
    color: @white;

    &:hover {
      color: @yellow-gold;
    }

    &:active {
      color: @light-gold;
    }
  }

  .main-navigation__log-in,
  .main-navigation__contacts,
  .main-navigation__social {
    display: none;
  }

  .main-navigation__user-block {
    margin-right: @desktop-gap;
  }

  .main-navigation--inner-page .main-navigation__user-block {
    display: flex;
  }

  .main-navigation__user-block-link {
    display: block;
    margin: 0;
  }

  .main-navigation__user-block-btn {
    padding: 10px 15px;
  }
}
