.main-page {

}

.main-page__title {
  display: block;
  padding-bottom: 265px;
  text-align: center;

  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
  color: @white;


  background-image: url("../../img/traveller-illustration-mobile@1x.png"), url("../../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 50px 100px, 0 -100px;
  background-color: @dark-blue;
}
