.price-list {
  position: relative;
}

.price-list__title {
  display: block;
  width: 120px;
  margin-bottom: 45px;

  &--popup {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;
    text-align: center;
  }
}

.price-list__table {
  position: relative;
  border-collapse: collapse;

  &--page {
    width: 200px;
    margin-bottom: 10px;

    &::before {
      position: absolute;
      bottom: calc(100% + 25px);
      right: -45px;

      content: "";

      display: block;
      width: 100px;
      height: 100px;
      background: url("../../img/rates@1x.png") no-repeat;
      background-position: center;
      background-size: 99px;

      @media (min-resolution: @retina-dppx) {
        background-image: url("../../img/rates@2x.png");
      }
    }
  }

  &--popup {
    width: 100%;
    margin-bottom: 30px;
  }
}

.price-list__line {
  display: flex;
  flex-direction: column;

  padding: 11px 0;

  border-top: 1px solid rgba(0, 0, 0, 0.05);

  &:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  &--popup {
    padding: 12px 0;
    margin: 0 @mobile-gap;
  }
}

.price-list__position {
  position: relative;

  &--page::after {
    position: absolute;
    top: -5px;
    right: -45px;

    padding: 7px 13px;
    text-align: right;
    border-radius: 50%;

    color: @white;
  }

  &--1::after {
    content: "1";
    background-color: @light-orange;
  }

  &--2::after {
    content: "2";
    background-color: @dark-yellow;
  }

  &--3::after {
    content: "3";
    background-color: @yellow-gold;
  }
}

.price-list__btn {
  padding: @mobile-gap 0;
  padding-bottom: 0;
  margin: 0;
  text-align: left;

  border: none;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: @light-blue;
  background-color: transparent;

  cursor: pointer;

  &:hover {
    color: rgba(19, 37, 118, 0.7);
  }

  &:active {
    color: rgba(19, 37, 118, 0.3);
  }

  &--popup {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
    color: @blue;
    background-color: @lilac;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  &--popup:hover {
    background-color: @light-grey;
  }

  &--popup:active {
    color: rgba(29, 46, 91, 0.3);
    background-color: @light-grey;
  }
}

.price-list__btn-icon {
  display: none;
}

.price-list__popup {
  display: none;

  position: absolute;
  top: 40px;
  right: 50%;
  margin-right: -135px;

  width: 270px;
  padding-top: 30px;

  border-radius: 20px;
  background-color: @white;

  &--closed {
    display: none;
  }

  &--opened {
    display: block;
  }
}

@media (min-width: @tablet-width) {
  .price-list__title {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 75px;
    text-align: center;

    &--popup {
      margin-bottom: 50px;
    }
  }

  .price-list__table {
    position: relative;

    &--page {
      width: 565px;
      margin-left: 55px;
      margin-bottom: @tablet-gap;

      font-size: 28px;
      line-height: 33px;

      &::before {
        bottom: -117px;
        right: 12px;
      }

      &::after {
        position: absolute;
        top: -43px;
        right: -35px;

        content: "";
        width: 198px;
        height: 285px;
        border-radius: @tablet-radius;
        background-color: @dark-lilac;

        z-index: -1;
      }
    }

    &--popup {
      width: 510px;
      margin: 0 auto;
      margin-bottom: 50px;

      font-size: 22px;
      line-height: 28px;
    }
  }

  .price-list__line {
    display: table-row;

    &--popup {
      padding: 5px 0;
    }
  }

  .price-list__position--page::after {
    top: 0;
    left: -90px;
    right: auto;
    padding: 16px 26px;
  }

  .price-list__price {
    padding: 16px 0;
    text-align: right;

    &--popup {
      padding: 13px 0;
    }
  }

  .price-list__btn {
    position: relative;

    display: flex;
    padding-left: 55px;
    align-items: center;
    font-size: 20px;
    line-height: 20px;
    color: @indigo;

    &--open::before {
      content: "";

      position: absolute;
      left: -35px;

      display: block;
      width: 67px;
      height: 67px;
      margin-right: 20px;
      border-radius: 50%;

      background-color: @dark-lilac;
    }

    &--popup {
      justify-content: center;
      padding: 42px;

      font-size: 24px;
      line-height: 24px;
      text-transform: none;
    }
  }

  .price-list__btn-icon {
    position: absolute;
    left: -10px;

    display: block;
  }

  .price-list__popup {
    top: 60px;
    margin-right: -344px;

    width: 688px;
    padding-top: 35px;

    border-radius: 30px;
  }
}

@media (min-width: @desktop-width) {
  .price-list__title {
    margin-bottom: 135px;

    &--popup {
      padding: @desktop-gap;
      margin-bottom: 20px;
    }
  }

  .price-list__table {
    width: 810px;
    margin-left: 95px;

    &--popup {
      width: 630px;
      margin: 0 auto;
      margin-bottom: 50px;
    }

    &::before {
      bottom: calc(50% - 99px);
      right: -270px;
      width: 198px;
      height: 198px;
      background-size: 198px;
    }

    &::after {
      top: -50px;
      right: -160px;

      width: 444px;
      height: 300px;
    }
  }

  .price-list__popup {
    top: 165px;
    margin-right: -375px;

    width: 750px;
    padding-top: 20px;
  }

  .price-list__btn {
    padding-left: 95px;

    &--open::before {
      left: 0;
    }

    &--popup {
      padding-left: 42px;
    }
  }

  .price-list__btn-icon {
    left: 25px;
  }
}
