.price-list {
  position: relative;
}

.price-list__title {
  display: block;
  width: 120px;
  margin-bottom: 40px;

  &--popup {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }
}

.price-list__table {
  position: relative;
  width: 200px;

  border-collapse: collapse;

  &--page {
    &::before {
      position: absolute;
      bottom: calc(100% + 20px);
      right: -45px;

      content: "";

      display: block;
      width: 100px;
      height: 100px;
      background: url("../../img/rates@1x.png") no-repeat;
      background-position: center;
      background-size: 99px;

      @media (min-resolution: @retina-dppx) {
        background-image: url("../../img/rates@2x.png");
      }
    }
  }

}

.price-list__line {
  display: flex;
  flex-direction: column;

  padding: 10px 0;

  border-top: 1px solid rgba(0, 0, 0, 0.05);

  &:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  &--popup {
    margin: 0 @mobile-gap;
  }
}

.price-list__position {
  position: relative;
}

.price-list__position::after {
  position: absolute;
  top: 0;
  right: -45px;

  padding: 7px 13px;
  text-align: right;
  border-radius: 50%;

  color: @white;
}

.price-list__position {
  &--1::after {
    content: "1";
    background-color: @light-orange;
  }
  &--2::after {
    content: "2";
    background-color: @dark-yellow;
  }
  &--3::after {
    content: "3";
    background-color: @yellow-gold;
  }
}

.price-list__btn {
  padding: @mobile-gap 0;
  margin: 0;
  text-align: left;

  border: none;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: @light-blue;
  background-color: transparent;

  cursor: pointer;

  &:hover {
    color: rgba(19, 37, 118, 0.7);
  }

  &:active {
    color: rgba(19, 37, 118, 0.3);
  }

  &--popup {
    width: 100%;

    text-align: center;
    text-transform: uppercase;
    color: @blue;
    background-color: @lilac;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  &--popup:hover {
    background-color: @light-grey;
  }
  &--popup:active {
    color: rgba(29, 46, 91, 0.3);
    background-color: @light-grey;
  }
}

.price-list__btn-icon {
  display: none;
}

.price-list__popup {
  display: none;

  position: absolute;
  top: 50px;
  right: 50%;
  margin-right: -135px;

  width: 270px;
  padding-top: @mobile-gap;

  border-radius: 20px;
  background-color: @white;

  &--closed {
    display: none;
  }
  &--opened {
    display: block;
  }
}

@media (min-width: @tablet-width) {
  .price-list__title {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 80px;
    text-align: center;
  }

  .price-list__table {
    position: relative;

    font-size: 28px;
    line-height: 33px;

    &--page {
      width: 565px;
      margin-left: 55px;
      margin-bottom: @tablet-gap;

      &::before {
        bottom: -120px;
        right: 0;
      }
      &::after {
        position: absolute;
        top: -43px;
        right: -30px;

        content: "";
        width: 198px;
        height: 285px;
        border-radius: @tablet-radius;
        background-color: @dark-lilac;

        z-index: -1;
      }
    }

    &--popup {
      width: 510px;
      margin: 0 auto;
    }
  }

  .price-list__line {
    display: table-row;
  }

  .price-list__position::after {
    left: -90px;
    right: auto;
    padding: 16px 26px;
  }

  .price-list__price {
    padding: 15px 0;
    text-align: right;
  }

  .price-list__btn {
    position: relative;

    display: flex;
    padding-left: 55px;
    align-items: center;
    font-size: 20px;
    line-height: 20px;
    color: @indigo;

    &--open::before {
      content: "";

      position: absolute;
      left: -35px;

      display: block;
      width: 67px;
      height: 67px;
      margin-right: 20px;
      border-radius: 50%;

      background-color: @dark-lilac;
    }

    &--popup {
      justify-content: center;
      padding: 42px;

      font-size: 24px;
      line-height: 24px;
      text-transform: none;
    }
  }

  .price-list__btn-icon {
    position: absolute;
    left: -10px;

    display: block;
  }

  .price-list__popup {
    width: 688px;
    top: 100px;
    margin-right: -344px;
  }
}

@media (min-width: @desktop-width) {
  .price-list__title {
    margin-bottom: 135px;

    &--popup {
      margin-bottom: 45px;
    }
  }
  .price-list__title--popup {
    padding: @desktop-gap;
  }

  .price-list__table {
    width: 810px;
    margin-left: 95px;

    &--popup {
      width: 630px;
    }

    &::before {
      bottom: calc(50% - 99px);
      right: -250px;
      width: 198px;
      height: 198px;
      background-size: 198px;
    }

    &::after {
      top: -50px;
      right: -160px;

      width: 444px;
      height: 300px;
    }
  }

  .price-list__popup {
    top: 110px;

    width: 750px;
  }

  .price-list__btn {
    padding-left: 95px;
    &--open::before {
      left: 0;
    }
  }

  .price-list__btn-icon {
    left: 25px;
  }
}
