.section {
  .bg-border__mobile();
  position: relative;
  padding-top: 100px;
  padding-bottom: 30px;

  &--service {
    padding-top: 35px;
    padding-bottom: 80px;

    color: @white;
    background-color: @light-blue;

    z-index: 25;

    &::before {
      position: absolute;
      top: 0;
      right: calc(50% + 53px);

      content: "";

      width: 113px;
      height: 132px;
      border-radius: @tablet-radius;
      background-color: @bg-blue2;

      z-index: 0;
    }
  }

  &--countries {
    color: @dark-grey;
    background-color: @light-grey;

    z-index: 20;
  }

  &--tourists {
    color: @white;
    background-image: url("../../img/smolov-back-desktop@1x.png"),  url("../../img/rogovaya-back-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 63px) 35px, calc(50% - 135px) 310px;
    background-color: @light-blue;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../../img/smolov-back-desktop@2x.png"),  url("../../img/rogovaya-back-mobile@2x.png");
      background-size: 143px, 71px;
    }
    z-index: 15;
  }

  &--price-list {
    padding-top: 80px;

    color: @dark-grey;
    background-color: @light-grey;

    z-index: 10;
  }

  &--address {
    padding-top: 60px;
    color: @light-blue;
    background-color: @yellow-gold;

    z-index: 1;
  }
}

.section__container {
  position: relative;
  width: @mobile-wrapper;
  box-sizing: border-box;
  margin: 0 auto;
  &--service {
    padding: @mobile-gap;

    background: url("../../img/about-mobile@1x.png") no-repeat;
    background-position: center;

    @media (min-resolution: @retina-dppx) {
      background: url("../../img/about-mobile@2x.png") no-repeat;
      background-position: center;
      background-color: @light-blue;
      background-size: 292px;
    }
  }

  &--tourists::before {
    position: absolute;
    top: -33px;
    left: -50px;

    content: "";

    width: 113px;
    height: 132px;
    border-radius: @tablet-radius;
    background-color: @bg-blue2;

    z-index: -2;
  }

  &--price-list {
    padding: @mobile-gap;
  }
}

.section__wrapper {
  padding: @mobile-gap;
}

.section__title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: @dark-orange;
}

.section__description {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;

  &--bold {
    padding-top: 10px;
    font-weight: 700;
  }
}

.section__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  box-sizing: border-box;
  padding: 24px;
  margin: @mobile-gap auto;
  margin-bottom: 0;
  text-align: left;

  font-size: 18px;
  line-height: 18px;
  text-transform: none;
  color: @blue;

  border-radius: @mobile-radius;

  &--service {
    display: none;
  }

  &--address {
    .link-reset();
    border: 3px solid @light-blue;
    font-weight: 700;
    &:hover {
      color: @white;
      background-color: @light-blue;
    }
    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

.section__btn-icon {
  fill: currentColor;
}

@media (min-width: @tablet-width) {
  .section {
    .bg-border__tablet();
    padding-top: 135px;
    padding-bottom: 85px;

    &--service {
      padding-top: 75px;
      margin-top: 0;

      &::before {
        top: 43px;
        right: 50%;
        margin-right: -344px;

        width: 688px;
        height: 213px;
      }
    }

    &--countries {
      background: url("../../img/flags-back@1x.png") no-repeat;
      background-position: calc(50% + 200px) 80px;
      background-color: @light-grey;

      @media (min-resolution: @retina-dppx) {
        background-image: url("../../img/flags-back@2x.png");
        background-size: 289px;
      }
    }

    &--tourists {
      padding-top: 200px;

      background-image: url("../../img/smolov-back-desktop@1x.png"),  url("../../img/rogovaya-back-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: calc(50% - 273px) 425px, calc(50% + 170px) 80px;

      @media (min-resolution: @retina-dppx) {
        background-image: url("../../img/smolov-back-desktop@2x.png"),  url("../../img/rogovaya-back-desktop@2x.png");
        background-size: 143px, 285px;
      }
    }

    &--address {
      padding-top: 110px;
    }
  }

  .section__container {
    width: @tablet-wrapper;
    box-sizing: border-box;
    padding: @tablet-gap;

    &--service {
      background: url("../../img/about-tablet@1x.png") no-repeat;
      background-position: calc(50% + 190px) 125px;

      @media (min-resolution: @retina-dppx) {
        background-image: url("../../img/about-tablet@2x.png");
        background-size: 376px;
      }
    }

    &--tourists::before {
      top: -63px;
      left: -35px;

      width: 213px;
      height: 213px;
    }
  }

  .section__wrapper {
    padding: 0;
  }

  .section__title {
    padding-top: 10px;
    margin-bottom: 40px;
    font-size: 45px;
    line-height: 45px;
  }

  .section__description {
    font-size: 28px;
    line-height: 33px;

    &--bold {
      padding-top: 0;
      padding-bottom: 20px;

      font-size: 21px;
      line-height: 25px;
    }
    &--service {
      width: 300px;
      margin-bottom: 30px;
    }
    &--countries {
      width: 340px;
      margin-top: 55px;
      margin-bottom: 55px;
    }
    &--tourists {
      width: 470px;
      margin-top: 55px;
    }
  }

  .section__btn {
    padding: 30px;

    font-size: 24px;
    line-height: 24px;

    border-radius: @tablet-radius;

    &--service {
      display: flex;
      width: 274px;
      margin:0;
      margin-bottom: 30px;
    }

    &--countries {
      margin-top: 45px;
    }

    &--address {
      margin-top: 40px;
    }
  }
}

@media (min-width: @desktop-width) {
  .section {
    &--service {
      padding-top: 135px;
      padding-bottom: 160px;

      &::before {
        top: 72px;
        right: calc(50% + 780px);
        width: 213px;
        height: 213px;
      }
    }

    &--countries {
      padding-top: 210px;
      padding-bottom: 135px;

      flex-direction: row-reverse;

      background-position: calc(50% + 520px) 90px;
      background-color: @light-grey;
    }

    &--tourists {
      padding-top: 190px;
      padding-bottom: 130px;

      background-position: calc(50% - 100px) 140px, calc(50% - 385px) 390px;
    }

    &--price-list {
      padding-top: 160px;
      padding-bottom: 160px;
    }

    &--address {
      padding-top: 115px;
      padding-bottom: 60px;
    }
  }

  .section__container {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    width: @desktop-wrapper;
    box-sizing: border-box;
    padding: 0;

    &--service {
      display: block;
      padding: 0 70px;

      background: url("../../img/about-desktop@1x.png") no-repeat;
      background-position: calc(50% + 345px) 110px;

      @media (min-resolution: @retina-dppx) {
        background: url("../../img/about-desktop@2x.png") no-repeat;
        background-position: calc(50% + 345px) 110px;
        background-size: 630px;
      }
    }

    &--countries {
      flex-direction: row-reverse;
    }

    &--price-list {
      padding-left: 70px;
    }

    &--address {
      align-items: center;
      padding-left: 210px;
      padding-right: 70px;
    }
  }

  .section__wrapper {
    width: 630px;
    box-sizing: border-box;
    margin: 0;

    &--countries {
      padding-left: 115px;
    }

    &--tourists {
      padding-left: 70px;
    }
  }

  .section__title {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 60px;
  }

  .section__description {
    &--service {
      width: 620px;
      margin-bottom: 40px;
    }

    &--countries {
      width: 340px;
    }
  }

  .section__btn {
    position: absolute;

    width: 274px;
    padding: @desktop-gap;

    &--service {
      position: static;
    }

    &--countries {
      bottom: 65px;
      left: 50%;
      margin-left: 143px;
    }
    &--tourists {
      bottom: 65px;
      left: 50%;

      width: 280px;
      margin-left: -590px;
    }
    &--address {
      position: static;
      width: 318px;
      margin: 0;
    }
  }
}
