.tourists__list {
  .ul-reset();
}

.tourists__card {
  width: 270px;
  margin: 0 auto;
  margin-bottom: 10px;

  background-color: @white;
}

.tourists__name {
  text-align: center;

  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: @blue;
}

.tourists__hashtags-list {
  .ul-reset();
}

.tourists__hashtags-link {
  font-size: 16px;
  line-height: 18px;
  color: @dark-grey;
  .link-reset();
}

.tourists__level {
  border: 3px solid @dark-orange;

  background-color: rgba(0, 0, 0, 0.6);
}

.tourists__level__title {
  font-size: 14px;
  line-height: 14px;
}

.tourists__level__quantity {
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
}

.tourists__visits-list {
  .ul-reset();
}

.tourists__visits-item {
  position: relative;

  width: 35px; //временно
  height: 24px;
  border: 2px solid red;
}

.tourists__visits-text {
  position: absolute;
  left: 30px;
  top: 20px;

  display: none;

  padding: 10px;
  border-radius: 4px;
  font-size: 15px;
  line-height: 18px;
  color:@white;

  background-color: @blue2;

  z-index: 5;
}

.tourists__visits-item:hover .tourists__visits-text {
  display: block;
}

@media (min-width: @tablet-width) {
  .tourists__list {
    display: flex;
  }

  .tourists__card {
    width: 285px;
    margin-bottom: @tablet-gap;
  }
}

@media (min-width: @desktop-width) {
  .tourists__card {
    margin-left: 2 * @desktop-gap;
  }
}
