.tourists__list {
  .ul-reset();
  margin-top: 15px;
}

.tourists__card {
  position: relative;

  width: 270px;
  padding-bottom: 10px;
  margin: 0 auto;
  margin-bottom: 10px;

  border-radius: 10px;

  background-color: @white;
}

.tourists__photo{
  width: 270px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tourists__name {
  .link-reset();
  display: block;
  margin-top: 15px;
  text-align: center;

  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: @blue;

  &:hover {
    color: rgba(29, 46, 91, 0.7);
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);
  }
}

.tourists__hashtags-list {
  .ul-reset();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px 30px 5px;
}

.tourists__hashtags-link {
  .link-reset();
  margin-left: 5px;

  font-size: 16px;
  line-height: 18px;
  color: @dark-grey;
}

.tourists__transports {
  justify-content: center;
  margin-bottom: 10px;
}

.tourists__level {
  position: absolute;
  top: 15px;
  left: 15px;

  padding: 0 5px;

  text-align: center;
  border-radius: 50%;
  border: 3px solid @dark-orange;

  background-color: rgba(0, 0, 0, 0.6);
}

.tourists__level__title {
  display: block;
  padding: 0;
  padding-top: 3px;
  margin: 5px;
  margin-top: 0;

  border-top: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 14px;
  line-height: 14px;
}

.tourists__level__quantity {
  display: block;
  margin: 10px;
  margin-bottom: 0;

  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
}

.tourists__visits-list {
  .ul-reset();
  position: absolute;
  top: 256px;

  width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tourists__visits-item {
  position: relative;

  width: 31px; //временно
  height: 24px;
  margin: 0 6px;
  border: 2px solid red;
}

.tourists__visits-text {
  position: absolute;
  left: 30px;
  top: 20px;

  display: none;

  padding: 10px;
  border-radius: 4px;
  font-size: 15px;
  line-height: 18px;
  color:@white;

  background-color: @blue2;

  z-index: 5;
}

.tourists__visits-item:hover .tourists__visits-text {
  display: block;
}

@media (min-width: @tablet-width) {
  .tourists__list {
    display: flex;
    justify-content: center;

    width: 688px;
    margin: 0 auto 40px;
  }

  .tourists__card {
    width: 285px;
    padding-bottom: 20px;
    margin-right: 50px;
    margin-left: 0;
    margin-bottom: @tablet-gap;
    border-radius: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  .tourists__photo {
    width: 285px;
    height: 285px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .tourists__name {
    margin-top: 25px;
    margin-bottom: 5px;

    font-size: 24px;
    line-height: 24px;
  }

  .tourists__hashtags-list {
      margin-bottom: 15px;
  }

  .tourists__hashtags-link {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .tourists__list {
    margin-top: 10px;
  }

  .tourists__card {
    margin-right: 0;
    margin-left: 60px;
  }

    .tourists__level {
      top: 23px;
      left: 23px;
    }
}
