.transports__list {
  .ul-reset();
  display: flex;
  justify-content: center;
  align-items: center;
}

.transports__item {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 35px;
  height: 35px;

  color: rgba(0, 0, 0, 0.15);

  &--active {
    color: @blue;
  }

  &--bg {
    width: 33px;
    height: 33px;

    border-radius: 50%;

    background-color: @light-grey;
  }
}

.transports__icon {
  fill: currentColor;
}

.transports__text {
  position: absolute;

  margin: 0;
  bottom: -170%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  display: none;

  padding: 10px;
  border-radius: 4px;
  font-size: 15px;
  line-height: 18px;
  color:@white;

  background-color: @blue2;

  z-index: 5;

  &::before {
    position: absolute;
    top: -24px;
    left: 50%;
    margin-left: -16px;
    content: "";
    border: 16px solid transparent; border-bottom: 8px solid @blue2;
  }
}

.transports__item:hover .transports__text {
  display: block;
}

@media (min-width: @tablet-width) {
  .transports__item {
    &--bg {
      height: 33px;
      background-color: transparent;
    }
  }

  .transports__icon {
    &--plane {
      width: 19px;
      height: 21px;
    }
    &--bus {
      width: 17px;
      height: 21px;
    }
    &--bike {
      width: 24px;
      height: 21px;
    }
    &--on-foot {
      width: 20px;
      height: 21px;
    }
  }
}
