.users {
  width: @mobile-wrapper;
  padding: @mobile-gap;
  margin: 0 auto;
}

.users__list {
  .ul-reset();
}

.users__card {
  position: relative;

  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  width: 100%;
  box-sizing: border-box;
  padding: 16px 18px 22px;
  margin-bottom: 10px;
  border-radius: 20px;

  background-color: @white;
}

.users__photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.users__img {
  display: block;
  width: 100%;
}

.users__name-link {
  .link-reset();
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 15px;

  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: @blue;

  &::after {
    content:"";

    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: @coral;
  }
  &--active::after {
    background-color: @green;
  }

  &:hover {
    color: rgba(29, 46, 91, 0.6);
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);
  }
}

.users__name-title {
  display: block;
  width: 90px;
}

.users__likes {
  .btn-reset();
  position: absolute;
  left: 65px;
  top: 55px;

  display: flex;
  align-items: center;

  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: @dark-blue;

  &::before {
    content: "";

    display: block;
    width: 31px;
    height: 31px;
    margin-right: 5px;
    border-radius: 50%;

    background-color: @light-grey;
  }

  &:hover::before {
    background-color: @dark-lilac;
  }

  &--active::before {
    background-color: @pink;
  }
  &--active:hover::before {
    background-color: @pink-hover;
  }
}

.users__likes-icon {
  position: absolute;
  margin-left: 10px;

  fill: @light-blue;
  opacity: 0.3;

  .users__likes:hover & {
    opacity: 0.5;
  }
  .users__likes:active & {
    opacity: 0.1;
  }

  &--active {
    fill: @red;
    opacity: 1;

    .users__likes--active:hover & {
      opacity: 1;
    }
    .users__likes--active:active & {
      opacity: 0.3;
    }
  }
}

.users__hashtags-list {
  .ul-reset();
  display: flex;
  flex-wrap: wrap;

  width: 200px;
  margin: 10px 0 5px;
}

.users__hashtags-link {
  .link-reset();
  padding: 5px;

  font-size: 15px;
  line-height: 18px;
  color: @dark-grey;
}

.users__title {
  position: relative;

  display: inline-block;
  width: auto;
  padding: 5px 10px;
  margin: 0;

  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: @dark-grey;
  background-color: @white;

  z-index: 5;
}

.users__visits-list {
  .ul-reset();
  position: relative;

  width: 100%;
  box-sizing: border-box;
  margin-top: 7px;

  &::before,
  &::after {
    position: absolute;
    left: -18px;//.users__card - padding
    content: "";

    width: @mobile-wrapper;
    height: 1px;

    background-color: @light-grey;
  }

  &::before {
    top: -20px;
  }

  &::after {
    bottom: -15px;
  }
}

.users__visits-item {
  display: flex;
  align-items: center;

  padding: 5px;

  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: @blue;
}

.users__visits-flag {
  margin-right: 15px;
}

.users__transports {
  margin-top: 10px;
  margin-left: 5px;
}

.users__level-wrapper {
  margin-left: 35px;
}

.users__level {
  position: relative;
  width: 45px;
  height: 45px;
  margin: 0 auto;
}

.users__level-quantity {
  display: block;
  padding: 10px 5px;
  text-align: center;

  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: @blue;
}

.users__level-text {
  display: none;
}

.users__level-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: rotate(-90deg);
  stroke: @dark-orange;
  fill: none;
}

.users__btn {
  display: block;

  width: 100%;
  box-sizing: border-box;
  margin-top: 15px;

  &--no-borders {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 270px;
    margin: 0 auto;
    margin-bottom: 20px;

    color: @blue;
    background-color: transparent;

    &:hover {
      color: rgba(29, 46, 91, 0.6);
      background-color: transparent;
    }

    &:active {
      color: rgba(29, 46, 91, 0.3);
      background-color: transparent;
    }
  }
}

.users__btn-plus-icon {
  margin-right: 10px;
  fill: currentColor;
}

.users__paginator {
  margin: 0 auto;
  margin-bottom: 45px;
}

@media (min-width: @tablet-width) {
  .users {
    width: @tablet-wrapper;
    padding: 40px;
  }

  .users__card {
    padding: 35px;
    padding-bottom: 15px;
    margin-bottom: 40px;
  }

  .users__photo {
    width: 190px;
    height: 190px;

    border-radius: 15px;

    order: -1;
  }

  .users__name-link {
    justify-content: flex-start;
    align-items: center;

    margin-left: 35px;

    font-size: 30px;
    line-height: 30px;

    order: 0;
  }

  .users__name-title {
    width: auto;
    margin-right: 23px;
  }

  .users__likes {
    left: 404px;
    top: 175px;

    font-size: 20px;
    line-height: 30px;

    &::before {
      width: 50px;
      height: 50px;
    }
  }

  .users__likes-icon {
    width: 20px;
    height: 17px;
    margin-left: 15px;
  }

  .users__hashtags-list {
    position: absolute;
    left: 255px;
    top: 70px;

    width: 250px;

  }

  .users__hashtags-link {
    font-size: 20px;
    line-height: 24px;
  }

  .users__title {
    display: none;

    &--visits {
      display: block;
      padding-left: 12px;
      padding-right: 12px;
      margin-top: 10px;
      margin-left: 35px;
      margin-right: 35px;

      order: 2;
    }
  }

  .users__visits-list {
    display: flex;
    flex-wrap: wrap;
    order: 3;

    &::before {
      left: -35px;
      width: @tablet-wrapper;
    }

    &::after {
      display: none;
    }
  }

  .users__visits-item {
    margin-right: 15px;

    font-size: 20px;
    line-height: 30px;
  }

  .users__visits-flag {
    width: 35px;
    height: 24px;
  }

  .users__transports {
    display: block;
    padding: 0 13px;
    margin: 0;

    order: 1;
  }

  .users__level-wrapper {
    position: absolute;
    right: 35px;
    bottom: 90px;
    margin: 0;
  }

  .users__level {
    width: 60px;
    height: 60px;
    text-align: center;
  }

  .users__level-quantity {
    display: inline-block;
    padding: 0;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .users__level-text {
    display: block;
    padding-top: 3px;

    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: rgba(68, 68, 68, 0.4);
  }

  .users__level-icon {
    width: 60px;
    height: 60px;
  }

  .users__btn {
    position: absolute;
    left: 255px;
    top: 160px;

    width: 148px;
    padding: 10px 32px;;

    border-radius: 25px;

    font-size: 20px;

    &--no-borders {
      position: static;
      width: 688px;
      padding-top: 5px;
      margin-bottom: 35px;
    }
  }

  .users__btn-plus-icon {
    width: 27px;
    height: 27px;
    margin-right: 25px;
  }

  .users__paginator {
    margin-bottom: 60px;
  }
}

@media (min-width: @desktop-width) {
  .users {
    width: 950px;
    padding: 60px;
    padding-top: 0;
    padding-right: 430px;
  }

  .users__card {
    position: relative;

    width: 950px;
    padding: 0;
    padding-right: 45px;
    margin-bottom: 30px;

    &::after {
      position: absolute;
      top: 50px;
      right: 320px;

      content: "";

      display: block;
      width: 1px;
      height: calc(100% - 100px);

      background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.1) 50%, transparent 100%);
    }
  }

  .users__photo {
    width: 285px;
    height: 285px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    order: -1;
  }

  .users__name-link {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-top: 15px;
    margin-top: 30px;

    order: 0;

    &::after {
      margin-right: 18px;
    }
  }

  .users__name-title {
    margin: 0;
  }

  .users__likes {
    left: 490px;
    top: 190px;
  }

  .users__hashtags-list {
    left: 340px;
    top: 85px;
  }

  .users__title {
    display: none;
  }

  .users__visits-list {
    display: block;
    width: 245px;
    padding-top: 15px;
    margin-top: 30px;

    order: 1;

    &::before {
      display: none;
    }
  }

  .users__visits-item {
    padding: 3px;
  }

  .users__visits-flag {
    margin-right: 20px;
  }

  .users__transports {
    position: absolute;
    right: 140px;
    bottom: 58px;

    display: flex;
  }

  .users__level-wrapper {
    right: 45px;
    bottom: 45px;
    margin: 0;
  }

  .users__btn {
    position: absolute;
    left: 340px;
    top: 175px;

    &--no-borders {
      position: static;
      width: 950px;
      margin-top: 60px;
      margin-bottom: 55px;
    }
  }

  .users__paginator {
    margin-bottom: 75px;
  }
}
