.ul-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link-reset() {
  text-decoration: none;
}

.btn-reset() {
  border: none;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}

.textarea-reset() {
  resize: none;
  background-color: transparent;
  font-family: inherit;
}

.bg-border__mobile {
  margin-top: -30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.bg-border__mobile--inner-page {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.bg-border__tablet {
  margin-top: -60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

.bg-border__mobile--footer {
  margin-top: -30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.bg-border__tablet--footer {
  margin-top: -60px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}

/*
.tooltip() {
  padding: 24px 18px;
  border-radius: 4px;
  font-size: 20px;
  line-height: 24px;
  color:@white;

  background-color: @blue2;
}
*/
